%h1 Please log in

%form{action: "/admin/login", method: "post"}
  %input{type: "text", name: "user"}
  %input{type: "password", name: "pass"}
  %input{type: "submit", name: "submit", value: "Login"}
